/* Common Css */
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#header {
	height: 120px;
	text-align: center;
	background-color: #222;
	color: white;
}

#header h1 {
	margin: 0px;
	padding: 45px;
}

#contents h1 {
	text-align: center;
}

#footer {
	margin: 0px;
	background-color: #222;
	text-align: center;
	clear: both;
	height: 50px;
}

#footer p {
	color: #999;
	padding: 15px;
}

#logged_in {
	text-align: right;
	margin: 5px;
	padding-bottom: 0px;
}

/*** NAVIGATION MENU ***/
ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
    display: block;
    color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; /*Remove underline */
}

/* Change color on hover */
li a:hover {
	background-color: #111;
}

/* Show what page is active */
.active {
	background-color: #4CAF50;
	color: white;
}
/* End Common Css */

/*Bordered form */
form {
	border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=date],textarea {
	width: 100%;
	padding: 12px 20px;
	margin-top: 4px;
	margin-bottom: 15px;
	display: block;
  border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Sign Up Button */
.container2 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Email Error Text */
.email_error {
	color: red;
}

/* Login Error Text */
.login_error {
	color: red;
}
