/* Common Css */
#wrapper {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
}

#logged_in {
	text-align: right;
	margin: 5px;
}

#header {
 height: 120px;
 text-align: center;
 background-color: #222;
 color: white;
}

#header h1 {
 margin: 0px;
 padding: 45px;
}

#footer {
 margin: 0px;
 background-color: #222;
 text-align: center;
 clear: both;
 height: 50px;
}

#footer p {
	color: #999;
	padding: 25px;
}

/*** NAVIGATION MENU ***/
ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
  	overflow: hidden;
  	background-color: #333;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; /*Remove underline */
}

/* Change color on hover */
li a:hover {
	background-color: #111;
}

/* Show what page is active */
.active {
	background-color: #4CAF50;
	color: white;
}
/* End Common Css */

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 2px 14px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.Box {
	border: 1px solid black;
	padding:10px;
	margin: 5px;
}

#title {
	font-size: 45px;
	text-align: center;
  padding:20px;
}

#content {
	float: right;
	text-align: center;
	width: 49%;
}

#content label {
	font-size: 30px;
}
#content h2 {
	font-size: 17px
}

#content2 {
	float:left;
	text-align: center;
	width: 49%;
}

#content2 label {
	font-size: 30px;
}
