/* Common Css */
#wrapper {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
}

#logged_in {
	text-align: right;
	margin: 5px;
}

#header {
 height: 120px;
 text-align: center;
 background-color: #222;
 color: white;
}

#header h1 {
 margin: 0px;
 padding: 45px;
}

#contents {
 padding: 10px;
 margin:20px;
 border:1px solid black;
 background-color: white;
 text-align: center;
}

#footer {
 margin: 0px;
 background-color: #222;
 text-align: center;
 clear: both;
 height: 50px;
}

#footer p {
	color: #999;
	padding: 15px;
}


/*** NAVIGATION MENU ***/
ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; /*Remove underline */
}

/* Change color on hover */
li a:hover {
	background-color: #111;
}

/* Show what page is active */
.active {
	background-color: #4CAF50;
	color: white;
}
/* End Common Css */

body{
	min-width: 600px;
	text-align: center;
}

#contents .bySuburb {
	padding:15px;
}

#contents .byName {
	padding: 5px 20px;
	margin: 2px 0;
}

#typeSubName {
	padding: 3px 20px;
	margin: 2px 0;
}

button {
    background-color: #4CAF50;
    color: white;
	padding: 5px 20px;
	margin: 2px 0;
    border: none;
    cursor: pointer;
}

#contents .byUserDistance {
	padding:15px;
}

#contents .showResults {
	padding:15px;
}

#table1{
	padding:25px;
}

table, th, td {
	margin-top: 20px;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}

#googleMap1 {
	margin: 0 auto 0 auto;
 }

#drop_down tr, th,td{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
  width: 100%;
}
